body{ }

/* Primary Colors */
.bc-dark { background: #003E37 }
.bc-primary { background-color: #BEFF00 }
.bc-success { background-color: #00B02C }
.bc-default { background-color: #424D54  }
.c-dark { color: #003E37 }
.c-primary { color: #BEFF00 }
.c-success { color: #00B02C }
.c-default { color: #424D54  }

/* General */

a{ color: #00B02C }

/* Helpers */
.noborder { border-radius: 0; border:0 }
.soft-radius { border-radius: 2px }

.options-section img{
    width: 120px;
}

/* Header */
.logo {
    width: 160px;
    position: absolute;
    margin-top: -60px;
}

.navbar {
    z-index: 999;
    margin-top: 40px;
    padding: 20px;
    background-image: url("../images/Menu-bkg.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    position: absolute;
}

.profile-info a { color: #fff }

@media only screen and (min-width: 992px){
    .navbar {
        width: 90%;
        background-size: contain;
    }
    .navbar ul { margin-left: 180px; }
    .navbar .header-profile { right: 70px }
}

@media only screen and (max-width: 990px){
    .navbar {
        width: 100% !important;
        background-size: cover;
    }
    .navbar ul {
        margin-top: 20px;
        margin-left: 20px;
    }
    .navbar-collapse { margin-bottom: 60px }
    .profile-info .link { color: #000 }
}
.header-profile .profile-info { margin-left: 10px }

.header-profile .profile-info p:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.header-profile {
    font-size: 12px;
    display: inline-block;
    position: absolute;
    margin-top: 6px;
}
.header-profile img{
    width: 60px;
    height: 60px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide-title{
    font-size: 30px;
    font-weight: bold;
}


/* Footer */
footer { font-size: .8em }
footer .social { margin-left: -15px }
footer .social img {
    transform: scale(.5);
    margin-right: -30px;
}